---
// Placeholder Header component - will be implemented in Task 5
interface Props {
  navItems: any[];
  currentPage: string;
}

const { navItems, currentPage } = Astro.props;
---

<header>
  <h1>Header Placeholder</h1>
  <!-- Will be implemented in Task 5 -->
</header>
